<header>
 <div id="frontpage" class="page_container">
        <div class="headerOuterWrapper">
            <div class="innerWrapper">
                <div class="dataWrapper">
                    <div id="block-block-2" class="block block-block">

                        <div class="content">
                            <a title="Logo" class="siteLogo"><img alt="Weather" src="/img/logo.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of innerWrapper-->
    <ul>
        <li><a href="/">Weather</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/contact">Contact</a></li>
        
    </ul>
</div>

   
</header>